<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <header class="page-header"
        role="banner">
      <h1 class="project-name">Yasunobu Murata</h1>
    </header>
    
    <main id="content" class="main-content" role="main">
       {{ content }}
      <footer class="site-footer">
        &copy; 2022 Yasunobu Murata
      </footer>
    </main>
  </body>
</html>
